<div class="dashboard-container">
  <div class="container-fluid full-height">
    <div class="row row1">
      <div class="col-3">
        <app-dashboard-welcome></app-dashboard-welcome>
      </div>
      <div class="col-9">
        <app-dashboard-overview></app-dashboard-overview>
      </div>
    </div>
    <div class="row row2 chart-container">
      <div class="col-8">
      <app-dashboard-chart></app-dashboard-chart>
    </div>
    <div class="col-4">
      <app-chart-stat></app-chart-stat>
    </div>
    </div>
  </div>
</div>