.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.centered {
    /* width: 300px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f8f8f8;

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #30ea8a, #0d946f); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #30ea8a, #0d946f) */
}